#DashboardNav {
  width: 83%;
  margin: auto;
  padding: 15px 1.5rem;
  margin-top: 1.25rem;
  background-color: var(--bg-transparent-white);
  backdrop-filter: blur(20px);
  border-radius: 3.75rem;
}

#DashboardNav .nav-btns {
  display: flex;
  gap: 2rem;
  margin-right: 6rem;
}

#DashboardNav .nav-btns .nav-btn.active {
  color: var(--text-purple);
}

#DashboardNav .nav-btns .nav-btn {
  color: var(--text-white);
  font-size: var(--font-small);
  font-weight: bold;
  width: 78px;
  height: 30px;
  padding: 6px 12px 6px 12px;
  gap: 10px;
  border-radius: 100px 0px 0px 0px;
  opacity: 0px;
}
#DashboardNav .account-overview{
  padding: 2px;
  height:42px !important;
}

#DashboardNav .account-overview,
.user-profile {
  padding: 5px;
  background-color: var(--bg-transparent-white);
  border-radius: 3.75rem;
  height: 32px;
}

#DashboardNav .account-overview .currency-display {
  margin-right: 0.5rem;
}

#DashboardNav .account-overview .currency-icon,
.user-avatar {
  width: 1.1rem;
  height: 1.1rem;
  background-color: white; 
  margin-right: 0.25rem;
  border-radius: 3.75rem;
}


#DashboardNav .account-overview .amount,
.user-name {
  color: var(--text-white);
  /* font-size: var(--font-xx-small); */
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
} 
